<!DOCTYPE HTML>
<html lang="en" ng-app="websiteApp">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Michele Marazzi</title>

  <meta name="author" content="Jon Barron, Michele Marazzi">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="node_modules/angular-tag-cloud/src/css/ng-tag-cloud.css">
  <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">

  <link rel="icon" type="image/png" href="images/icon.png">
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="node_modules/angular-tag-cloud/src/ng-tag-cloud.js"></script>
  <script src="app/app.module.js"></script>
  <script src="app/app.controller.js"></script>
  <script src="app/loadjson.module.js"></script>
  <script src="app/loadjson.factory.js"></script>
  <script src="app/publication.module.js"></script>
  <script src="app/publication.component.js"></script>
  <script src="app/scandaw.module.js"></script>
  <script src="app/scandaw.component.js"></script>
  <script src="app/other.module.js"></script>
  <script src="app/other.factory.js"></script>
</head>

<body>

  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>
      <tr style="padding:0px">
        <td style="padding:0px">
          <table
            style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tbody>
              <tr style="padding:0px">
                <td style="padding:2.5%;width:63%;vertical-align:middle">
                  <p style="text-align:center">
                    <name>Michele Marazzi</name>
                  </p>
                  <p>My last experience was working as a Researcher at <a href="https://ethz.ch/">ETH Zurich</a>, where
                    I implemented non-invasive sensory feedback systems, using electrical stimulation.
                  </p>
                  <p>
                    I started from a technical school that mixed electronics and telecommunication, then I graduated
                    from <b>Electronics Engineering</b> at my Bachelor. For my Master, I studied <b>Biomedical
                      Engineering</b> at <a href="https://www.polimi.it/">POLIMI</a>, with a focus over electronics
                    technolgies (BTE).</p>
                  <p>I graduated from my master with <b>110/110 cum Laude</b>, and a course average grade of 29.8/30
                    (GPA 3.97/4, top 0.1%).
                  </p>
                  <p style="text-align:center">
                    <a href="mailto:michele.marazzi.it@gmail.com">Email</a> &nbsp/&nbsp
                    <a href="https://www.linkedin.com/in/michele-marazzi-567524185/">Linkedin</a> &nbsp/&nbsp
                    <a href="https://github.com/mchlmrz">Github</a>
                  </p>
                </td>
                <td style="padding:2.5%;width:40%;max-width:40%">
                  <a href="images/marazzi.jpg"><img style="width:100%;max-width:100%" alt="profile photo"
                      src="images/marazzi.jpg" class="profileImage"></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div ng-controller="websiteController">
            <!-- Selected: <span ng-repeat="key in otherService.getKeys()" class="filterKey"><a href="#" ng-click="otherService.removeKey(key)">x {{key}}</a></span> -->
            <span class="filterKey" ng-if="otherService.getKeys()"><a href="#!/"><button type="button" 
                class="btn btn-secondary btn-sm"
                ng-click="otherService.removeKey(key)">{{' x ' + otherService.getKeys()}}</button></a></span>
          </div>

          <publication></publication>
          <scandaw></scandaw>
          <div ng-controller="websiteController">
            <ng-tag-cloud cloud-width="250" cloud-height="250" cloud-data="keysCloud" class="tagcloud"
              delayed-mode="true"></ng-tag-cloud>
          </div>

</body>

</html>